.fixed_menu {
  
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 60px;
  z-index: 99999;
  display: none;
 
}
.fixed_menu .flex_box{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.fixed_menu .flex_box div {
  -webkit-flex:1;
      -ms-flex:1;
          flex:1;
  position: relative;
  word-spacing: 1em;
}
.fixed_menu .flex_box div,
.fixed_menu .flex_box footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.125rem;
  cursor: pointer;
  transition:0.2s transform;
  background-color: #fff;
}
.fixed_menu.on {
    z-index: 9999;
    display: block;
 
}
.fixed_menu .flex_box div,
.fixed_menu .flex_box footer{
  animation:tranNormal .2s ease .1s 1 forwards;
}@keyframes tranNormal{
  0%{}
  100%{transform:translateX(-100%) translateZ(0);}
}
.fixed_menu.on .flex_box div,
.fixed_menu.on .flex_box footer{
  /*transform:translateX(0) translateZ(0);*/
  animation:transIn .2s ease .1s 1 forwards;
}
@keyframes transIn{
  0%{}
  100%{transform:translateX(0) translateZ(0);}
}
.fixed_menu .flex_box footer {
  height: 59px;
}
.fixed_menu .flex_box footer:hover{
  background: #242626;
  color: #fff;
}
.fixed_menu .flex_box div:before {
  content: "";
  position: absolute;
  top:-22px;
  bottom:-22px;
  width: 1200px;
  left: 50%;
  margin-left: -600px;
  background-repeat: no-repeat;
  background-position: right center;
}
.fixed_menu .flex_box div:hover{
  z-index: 999;
}
.fixed_menu .flex_box div:hover:before {
  z-index: 999;
}
.fixed_menu .flex_box div:first-child:before {
  background-image: url(../images/common/nav_01.png);
}
.fixed_menu .flex_box div:nth-child(2):before {
  background-image: url(../images/common/nav_02.png);
}
.fixed_menu .flex_box div:nth-child(3):before {
  background-image: url(../images/common/nav_03.png);
}
.fixed_menu .flex_box div:nth-child(4):before {
  background-image: url(../images/common/nav_04.png);
}
.fixed_menu .flex_box div:nth-child(5):before {
  background-image: url(../images/common/nav_05.png);
}
.fixed_menu .flex_box div:nth-child(6):before {
  background-image: url(../images/common/nav_06.png);
}
.fixed_menu .flex_box div:hover {
  background-size:auto 100%;
}
.fixed_menu .flex_box div:hover:before{
  background-size: contain;
  z-index: 99;
}
.fixed_menu .flex_box div:first-child:hover {
  background-image: url(../images/common/nav_01_h.png);
  color: #fff;
}
.fixed_menu .flex_box div:nth-child(2):hover {
  background-image: url(../images/common/nav_02_h.png);
  color: #1e722e;
}
.fixed_menu .flex_box div:nth-child(3):hover {
  background-image: url(../images/common/nav_03_h.png);
  color: #d2e0ff;
}
.fixed_menu .flex_box div:nth-child(4):hover {
  background-image: url(../images/common/nav_04_h.png);
  color: #fff;
}
.fixed_menu .flex_box div:nth-child(5):hover {
  background-image: url(../images/common/nav_05_h.png);
  color: #d4c8a2;
}
.fixed_menu .flex_box div:nth-child(6):hover {
  background-image: url(../images/common/nav_06_h.png);
  color: #fff;
}
.fixed_menu .flex_box div:first-child:hover:before{
  transform:translateX(80px);
}
.fixed_menu .flex_box div:first-child:hover:before {
  background-image: url(../images/common/nav_01_h_p.png);
}
.fixed_menu .flex_box div:nth-child(2):hover:before{
  transform:translateX(76px) translateZ(0);
}
.fixed_menu .flex_box div:nth-child(2):hover:before {
  background-image: url(../images/common/nav_02_h_p.png);
}
.fixed_menu .flex_box div:nth-child(3):hover:before{
  top:-14px;
  bottom: -30px;
  transform:translateX(35px);
}
.fixed_menu .flex_box div:nth-child(3):hover:before {
  background-image: url(../images/common/nav_03_h_p.png);
}
.fixed_menu .flex_box div:nth-child(4):hover:before{
  top:-17px;
  bottom: -37px;
  transform:translateX(78px);
}
.fixed_menu .flex_box div:nth-child(4):hover:before {
  background-image: url(../images/common/nav_04_h_p.png);
}
.fixed_menu .flex_box div:nth-child(5):hover:before{
  top:-40px;
  bottom: -22px;
  transform:translateX(65px);
}
.fixed_menu .flex_box div:nth-child(5):hover:before {
  background-image: url(../images/common/nav_05_h_p.png);
}
.fixed_menu .flex_box div:nth-child(6):hover:before{
  top:-35px;
  bottom: 0;
  transform:translateX(130px);
}
.fixed_menu .flex_box div:nth-child(6):hover:before {
  background-image: url(../images/common/nav_06_h_p.png);
}
.fixed_menu .flex_box :nth-child(2n+1) {
  transform:translateX(-100%);
}
.fixed_menu .flex_box :nth-child(2n+2) {
  transform:translateX(100%);
}

@media screen and (max-width: 1280px){
  .nj_hd .cont{
    width: 1000px !important;
  }
  .fixed_menu .flex_box div:before{
    width: 1000px ;
    margin-left: -450px;
  }
}